@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700&display=swap');
/* download font for production*/
.font-playfair {
  font-family: 'Playfair Display', serif;
}

.shadow-b-md {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.18);
}

.mono {
  font-family: 'ui-monospace', 'SFMono-Regular', 'Menlo', monospace;
}
